---
layout: default
---

{% for post in paginator.posts %}
<article class="post">
    <header class="post-header">
        <span class="category">{{ post.categories }}</span>
        <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        <span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>
    </header>
    {% if post.image %}
    <img src="{{ site.baseurl }}/img/{{ post.image }}" alt="Placeholder">
    {% endif %}
    <div class="post-content">
        {% if post.description %}
            {{ post.description }}
        {% endif %}
    </div>
</article>
{% endfor %}



