<div class="footer">
    <div class="page__wrapper">
        <p>Nflow BV - Provinciebaan 120,9270 Laarne</p>
        <ul class="footer__social-icons">
            <li>
                <a href="https://www.linkedin.com/in/brecht-billiet-58417426/" target="blank"
                   class="footer__social-icon">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/brechtbilliet" target="blank" class="footer__social-icon">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="mailto:billietbrecht@gmail.com" target="blank" class="footer__social-icon">
                    <i class="fa-solid fa-envelope-open"></i>
                </a>
            </li>
        </ul>
        <a href="#" id="open_preferences_center">Change your preferences</a>
    </div>
</div>
