<!-- Start Navigation -->
<nav class="main-nav">
    <a href="{{ site.baseurl }}/">Home</a>
    <a target="_blank" href="http://brecht.io">About Me</a>
</nav>
<!-- End Navigation -->

<!-- Start Header -->
<header class="main-header" style="background: url('{{ site.baseurl }}/img/{{ site.hero_image }}') no-repeat center center;">

    <!-- Start Navigation button -->
    <button id="nav-btn" class="nav-btn">
        <span class="nav-lines"></span>
    </button>
    <!-- End Navigation button -->
</header>
<!-- End Header -->
