/* HEADER
-------------------------------------------------*/
.main-header {
    position: relative;
    height: 350px;
    background-size: cover;
    @extend %font-secondary;
    font-size: 1rem;
    overflow: hidden;
}

.main-header-text {
    display: table;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.0);
}

.main-header-text-center {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    p {
        margin: 5px 0 0;
        font-size: 0.875rem;
    }
    span {
        display: inline-block;
        color: $colorPrimary;
        font-weight: $fontWeightSemi;
    }
}