/* NAV
-------------------------------------------------*/
.main-nav {
    max-height: 0;
    overflow: hidden;
    background: $colorPrimary;
    transition: all 0.5s ease;
    .nav-trigger & {
        max-height: 500px;
    }
    @include breakpoint(medium) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transform: translate3d(0,-82px,0);
        transition: all 0.7s ease-out;
    }
    a {
        display: block;
        padding: 15px 5%;
        color: $white;
        @extend %font-secondary;
        font-size: 0.875rem;
        text-decoration: none;
        @include breakpoint(medium) {
            display: inline-block;
            padding: $space;
        }
        &:hover, &:focus {
            background: lighten($colorPrimary, 5%);
        }
    }
}

.nav-btn {
    position: absolute;
    top: $space;
    left: 5%;
    z-index: 100;
    width: 48px;
    height: 48px;
    border: 0;
    background: none;
    outline: 0;
    cursor: pointer;
}

.nav-lines,
.nav-lines:after,
.nav-lines:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 0;
    width: 40px;
    height: 2px;
    background: $white;
    transition: all 0.3s ease;
}

.nav-lines {
    .nav-trigger & {
        width: 0;
    }
    left: 4px;
    &:before {
        top: 10px;
    }
    &:after {
        top: 20px;
    }
    .nav-trigger &:before, .nav-trigger &:after {
        top: 10px;
    }
    .nav-trigger &:before {
        transform: rotate(-45deg);
    }
    .nav-trigger &:after {
        transform: rotate(45deg);
    }
}
