.post {
    padding-bottom: $spaceDouble;
    margin-bottom: $spaceDouble;
    border-bottom: solid 1px $colorBorder;
    &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
    }
}

.post-header {
    margin-bottom: $space;
    @extend %font-secondary;
    text-align: center;
    .category {
        text-transform: uppercase;
        color: $colorPrimary;
        font-size: 0.875rem;
    }
    h2 {
        margin: 5px 0;
    }
    .date {
        color: $greyLighter;
        font-size: 0.75rem;
        font-style: italic;
        text-transform: uppercase;
    }
}

img + .post-content {
    margin-top: $space;
}

.post-content {
    h2 {
        margin-top: $spaceDouble;
    }
}