---
# Only the main Sass file needs front matter (the dashes are enough)
---
$gridunit: 8px;
$accent: #00cccc;
$accent2: #339999;
$dark: #333;
$light: #f1f1f1;

@import "minima";
.author-thumb{
  border-radius: 50%;
  width:24px;
  height:24px;
}
body {
  font-family: "Open Sans", sans-serif;
}
body {
  background: #fff;
  display: flex;
}

html, body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  background: #fff;

  .blog{
    .post-list {
      p{
        font-size: 20px;
        line-height:32px;
        font-weight:100;
        font-style: normal;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        color: #3b3c3c;
        font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
      }
    }
    .post-content {
      p, ul, li{
        font-size: 20px;
        line-height:32px;
        font-weight:100;
        font-style: normal;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        color: #3b3c3c;
        font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
        a{
          font-size: 20px;
          line-height:32px;
          font-weight:600;
          font-style: normal;
          text-decoration: underline;
          text-rendering: optimizeLegibility;
          -webkit-font-smoothing: antialiased;
          color: #3b3c3c;
          font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
        }
      }
      .post-meta{
        font-weight: 200;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }
    }

  }
  h1, h2, a, li {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }


}

.blog{
  &__header {
    background-image: url('/assets/images/banner2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: $gridunit * 5;
    padding-bottom: $gridunit * 5;
    color: #fff;
    background-position: center top;
    @media (min-width: 1024px) {
      background-position: center;
    }
  }
  .page__wrapper{
    margin-top:$gridunit*4;
    &-right {
      display:flex;
      justify-content: center;
    }
  }
}
.page {
  &__wrapper {
    max-width: 1280px;
    margin: auto;
    padding: 0 $gridunit*2;
    @media (min-width: 768px) {
      position: relative;
    }

    &-left {
      padding-top: $gridunit*3;
      @media (min-width: 768px) {
        padding-top: 0;
        width: 60%;
      }
    }

    &-right {
      flex: 1;
    }

    &-flex {
      display: flex;
      flex-direction: column-reverse;
      @media (min-width: 768px) {
        flex-direction: row;
      }
      justify-content: space-between;
    }
  }

}

.post-link, .post-link:hover, .post-link:active, .post-link:visited {
  font-size: 2rem;
  color:#2e2e2e;
  line-height:1.15em;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  text-rendering: geometricPrecision;
  font-weight:600;
}
.post-meta {
  color: #9eabb3;
}
.post-list li {
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.app {
  .footer {
    display: flex;
    background: #333;
    color: #fff;
    padding: $gridunit;

    .page__wrapper {
      display: flex;
      flex-direction:column;
      align-items: center;
      @media (min-width: 768px) {
        flex-direction:row;
      }
    }

    p {
      padding: 0;
      margin: 0;
    }

    a {
      color: $accent;
      text-decoration: none;
    }

    ul {
      margin: 0;
      padding: 0;
      padding-left: $gridunit*3;
      padding-right: $gridunit*3;
      list-style-type: none;
      display: flex;

      a {
        padding: $gridunit;
      }
    }
  }

  width: 100%;

  &__nav-wrapper {
    margin: auto;
    @media (min-width: 768px) {
      position: relative;
    }
    max-width: 1280px;
  }

  &__menu {
    display: none;
    width: 100%;
    position: absolute;
    background: $dark;
    z-index:999;
    opacity: 0.94;
    height: 100%;
    @media (min-width: 768px) {
      margin-top: $gridunit*3;
      background: inherit;
      opacity: inherit;
      height: 64px;
    }

    &--open {
      display: flex;
      margin-left: -16px;
      padding: $gridunit*2;
      flex-direction: column;
    }

    li {
      margin: 0;
      padding: 0;

      a {
        padding: $gridunit $gridunit*3;
        font-weight: 200;
        display: flex;
      }

      @media (min-width: 768px) {
        a {
          padding: $gridunit $gridunit*3;
        }
      }
    }

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      list-style-type: none;

      a {
        color: #fff;
        @media (min-width: 768px) {
          margin-left: $gridunit;
          background-color: rgba(0, 0, 0, 0.5);
        }
        text-decoration: none;
      }

      @media (min-width: 768px) {
        flex-direction: row;
      }
    }

    .link--active {
      color: $accent;
      font-weight:400;
    }

    @media (min-width: 768px) {
      display: flex;
      justify-content: flex-end;
      .link--active {
        background: $accent;
        color: $dark;
      }
    }

    &-close-btn {
      display: flex;
      background: none;
      justify-content: flex-end;
      outline: none;
      color: #fff;
      border: none;
      @media (min-width: 768px) {
        display: none;
      }
    }

    &-mobile-btn {
      background: none;
      border: none;
      outline: none;
      right:0;
      position: absolute;
      color: #fff;
      padding-top: $gridunit;
      @media (min-width: 768px) {
        display: none;
      }

      &--hidden {
        display: none;
      }
    }
  }
}

.profile {
  position: fixed;
  display: none;
  width: 15%;
  top: 130px;
  z-index: 400;
  @media (min-width: 768px) {
    display: flex;
  }
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h3 {
    margin-top: 20px;
  }
  img {
    border-radius: 50%;
    max-width: 150px;
    box-shadow: 4px 4px #1a100a;
  }
  .hire-me-button {
    background-color: #2aabbf;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 15px;
    text-decoration: none;
  }
}
.profile-mobile {
  display: flex;
  @media (min-width: 768px) {
    display: none;
  }
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h3 {
    margin-top: 20px;
  }
  img {
    border-radius: 50%;
    max-width: 150px;
    box-shadow: 4px 4px #1a100a;
  }
  .hire-me-button {
    background-color: #2aabbf;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 15px;
    text-decoration: none;
  }
}

