{% include doctype-head.html %}
<body>
    {% include svg-defs.svg %}
    <!--[if lt IE 10]>
        <p class="oldie">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> to better experience this site.</p>
    <![endif]-->

    <div class="site-container">
        {% include header.html %}

        <main>
            <div class="container">
                {{ content }}
            </div>
            {% if paginator.total_posts > site.paginate %}
                {% include pagination.html %}
            {% endif %}
        </main>
        
        {% include footer.html %}
    </div>
    {% include analytics.html %}
    <script src="{{ site.baseurl }}/js/all.min.js"></script>
</body>
</html>
