<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body>
<section class="app">
    <div class="app__nav-wrapper">
        <nav class="app__menu">
            <button class="app__menu-close-btn">
                <span>CLOSE</span>&nbsp;
                <i class="fa-solid fa-circle-xmark"></i>
            </button>
            <ul>
                <li>
                    <a href="https://brecht.io">
                        <span class="app__menu-item-label">Home</span>
                    </a>
                </li>
                <li>
                    <a href="https://brecht.io/about">
                        <span class="app__menu-item-label">About</span>
                    </a>
                </li>
                <li>
                    <a href="https://brecht.io/services">
                        <span class="app__menu-item-label">Services</span>
                    </a>
                </li>
                <li>
                    <a href="https://brecht.io/angular-best-practices-training">
                        <span class="app__menu-item-label">Angular Best Practices Training</span>
                    </a>
                </li>
                <li>
                    <a href="https://blog.brecht.io" class="link--active">
                        <span class="app__menu-item-label">Blog</span>
                    </a>
                </li>
                <li>
                    <a href="https://brecht.io/contact">
                        <span class="app__menu-item-label">Contact</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <button class="app__menu-mobile-btn" id="menu-button">
        <i class="fa-solid fa-bars"></i>
        &nbsp;MENU
    </button>

    <div id="container__wrapper">
        <div>
            <header class="blog__header">
                <div class="page__wrapper">
                </div>
            </header>
            <main aria-label="Content">
                <div class="blog">
                    <div class="page__wrapper page__wrapper-flex">
                        <div class="page__wrapper-left">
                            {{ content }}
                        </div>
                        <div class="page__wrapper-right">
                            <div class="profile">
                                <a href="https://www.simplified.courses/angular-change-detection-simplified-e-book" target="_blank">
                                    <img src="/assets/images/ad.jpg" alt="Angular Change Detection ebook"
                                         nopin="nopin"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


            </main>
        </div>
        {%- include footer.html -%}
    </div>
</section>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-43296458-4"></script>
<script type="text/javascript" src="//www.privacypolicies.com/public/cookie-consent/4.0.0/cookie-consent.js"
        charset="UTF-8"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        cookieconsent.run({
            'notice_banner_type': 'simple',
            'consent_type': 'implied',
            'palette': 'light',
            'language': 'en',
            'page_load_consent_levels': ['strictly-necessary', 'functionality', 'tracking', 'targeting'],
            'notice_banner_reject_button_hide': false,
            'preferences_center_close_button_hide': false,
            'page_refresh_confirmation_buttons': false,
            'website_name': 'brecht.io'
        });
    });
</script>
<script cookie-consent="tracking">
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-43296458-4');
</script>
<script lang="text/javascript">
    window.menuCollapsed = true;
    const appMenu = document.querySelector('.app__menu');
    const closeButton = document.querySelector('.app__menu-close-btn');
    document.querySelector('#menu-button').addEventListener('click', () => {
        window.menuCollapsed = !window.menuCollapsed;
        console.log(window.menuCollapsed);
        if (!window.menuCollapsed) {
            appMenu.classList.add('app__menu--open')
        } else {
            appMenu.classList.remove('app__menu--open')
        }
    })
    closeButton.addEventListener('click', () => {
        window.menuCollapsed = true;
        appMenu.classList.remove('app__menu--open')
    })

</script>
<noscript>Cookie Consent by <a href="https://www.privacypolicies.com/" rel="noopener">Privacy Policies Generator
    website</a></noscript>
</body>

</html>
