---
layout: default
---

<article class="post">
    <header class="post-header">
        <span class="category">{{ page.categories }}</span>
        <h2>{{ page.title }}</h2>
        <span class="date">{{ page.date | date: "%b %-d, %Y" }}</span>
    </header>
    {% if page.image %}
    <img src="{{ site.baseurl }}/img/{{ page.image }}" alt="Placeholder">
    {% endif %}
    <div class="post-content">
        {{ content }}
    </div>
</article>

{% if site.author_name %}
    <div class="author">
          
        <div class="media-object">
            <img src="{{ site.baseurl }}/img/{{ site.author_image }}" alt="{{ site.author_name }}">
            <div class="media-bd">
                <span class="written h5">Written by</span>
                <h4><a href="{{ site.author_url }}">{{ site.author_name }}</a></h4>
                <p>{{ site.author_bio }}</p>
            </div>
        </div>

    </div>
{% endif %}

{% if site.disqus-shortname %}
    {% include disqus.html %}
{% endif %}

